body {
  background: gray;
}

header {
  background: black;
  color: white;
  height: 100px;
  display: flex;
  align-items: center;
  z-index: 20;
  padding: 0 max(calc(50% - 720px), 0px);
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 max(calc(50% - 720px), 0px);
}

#more_pokemon {
  width: 200px;
}

footer {
  background: black;
  color: white;
  height: 100px;
  display: flex;
  align-items: center;
  z-index: 20;
  padding: 0 max(calc(50% - 720px), 0px);
}

#pokemon_card_content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pokemon-card {
  cursor: pointer;
  width: 220px;
  min-height: 250px;

  background: white;
  margin: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.pokemon-card:hover {
  box-shadow: 0px 0px 15px -5px black;
}

.pokemon-card-header {
  width: 100%;

  padding: 16px 8px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.pokemon-card-header h2 {
  background: black;
  padding: 4px 20px;
  border-end-end-radius: 16px;
}

.pokemon-card-header p {
  color: rgb(223, 223, 223);
  font-size: 20px;
  font-weight: 600;
}

.pokemon-image {
  width: 120px;
  height: 120px;
  object-fit: scale-down;
}

.types {
  width: 100%;
  /* transform: translateX(-16px); */
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.types img {
  height: auto;
  width: 100px;
}

.normal {
  background-color: var(--type-normal);
}

.fire {
  background-color: var(--type-fire);
}

.water {
  background-color: var(--type-water);
}

.electric {
  background-color: var(--type-electric);
}

.grass {
  background-color: var(--type-grass);
}

.ice {
  background-color: var(--type-ice);
}

.fighting {
  background-color: var(--type-fighting);
}

.poison {
  background-color: var(--type-poison);
}

.ground {
  background-color: var(--type-ground);
}

.flying {
  background-color: var(--type-flying);
}

.psychic {
  background-color: var(--type-psychic);
}

.bug {
  background-color: var(--type-bug);
}

.rock {
  background-color: var(--type-rock);
}

.ghost {
  background-color: var(--type-ghost);
}

.dragon {
  background-color: var(--type-dragon);
}

.dark {
  background-color: var(--type-dark);
}

.steel {
  background-color: var(--type-steel);
}

.fairy {
  background-color: var(--type-fairy);
}
