:root {
  /* Oberfläche */
  --page-background: #e9eef5;
  --button-background: #293343;
  --button-background-hover: #3a4960;
  --button-text: #f5f6f8;
  --input-background: #ffffff;
  --input-border: #cbd5e1;
  --input-text: #293343;

  /* Helle Typ-Farben */
  --type-normal: #e8e6d9;
  --type-fire: #ffdac5;
  --type-water: #cce8fa;
  --type-electric: #fff2b3;
  --type-grass: #d5f2cf;
  --type-ice: #d3f3ef;
  --type-fighting: #f3cbc7;
  --type-poison: #e8cceb;
  --type-ground: #f2dfbd;
  --type-flying: #e2dcfa;
  --type-psychic: #ffd4e2;
  --type-bug: #e5edc2;
  --type-rock: #e7dfbf;
  --type-ghost: #dcd1eb;
  --type-dragon: #d8cafa;
  --type-dark: #d8cec8;
  --type-steel: #e0e3ed;
  --type-fairy: #f5d8e8;

  /* Kräftige Typ-Farben */
  --type-normal-strong: #7f7f66;
  --type-fire-strong: #c76338;
  --type-water-strong: #457fc0;
  --type-electric-strong: #f2cd3c;
  --type-grass-strong: #488e55;
  --type-ice-strong: #3b908d;
  --type-fighting-strong: #be524d;
  --type-poison-strong: #a254aa;
  --type-ground-strong: #a27a42;
  --type-flying-strong: #886ec4;
  --type-psychic-strong: #cc4f7f;
  --type-bug-strong: #7a8a3e;
  --type-rock-strong: #91824c;
  --type-ghost-strong: #7f6a99;
  --type-dragon-strong: #855ad8;
  --type-dark-strong: #72635c;
  --type-steel-strong: #727c8d;
  --type-fairy-strong: #b96390;
}
